@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">YGO Shopping Cart Builder</h1>
</div>

<div class="text-center">
    <h1>Welcome!</h1>
</div>

<br />
<br />

<div class="text-center">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ShoppingList">
        <span>Select a file to upload</span>
        <br />
        <br />
        <div>
            <input type="file" name="postedFile" />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>

